@model BTL_WNC.Models.User

@{
    ViewData["Title"] = "Profile";
}

<link href="~/css/styleprofile.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
    <h1>Profile</h1>
    <div class="profile-container">
        <div class="profile-image">
            @if (Context.Session.GetString("Role") == "role1")
            {
                <img src="~/image/anhadmin.jpg" class="profile-image" />
            }
            else
            {
                <img src="~/image/image_user.jpg" class="profile-image" />
            }
        </div>

        <div class="vertical-line"></div>

        <div class="profile-info">
            <div class="profile-card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name's Profile</h5>
                    <p class="card-text" style="font-weight: bold; color: black; font-size: 1em;">Name: @Model.Name</p>
                    <p class="card-text"><strong>Email:</strong> @Model.Email</p>
                    <p class="card-text"><strong>Phone:</strong> @Model.PhoneNumber</p>
                </div>
            </div>
        </div>
        <a asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-primary">Edit Profile</a>
    </div>
    <div class="task-list">
        <h2>Các Nhiệm Vụ</h2>
        <div class="task-table-container">
            @if (Model.Tasks != null && Model.Tasks.Any())
            {
                foreach (var task in Model.Tasks)
                {
                    <div class="task-item">
                        <h3>@task.Title</h3>
                        <p>@task.Content</p>
                        <p>Due Date: @task.DueDate.ToShortDateString()</p>
                        <p>Status: @task.Status</p>
                    </div>
                }
            }
            else
            {
                <p>Không có nhiệm vụ nào.</p>
            }
        </div>
    </div>
</div>

