@model List<BTL_WNC.Models.Project>

@{
    ViewData["Title"] = "Project";
}

<link href="~/css/styleprojectview.css" rel="stylesheet" />
@* <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- Sử dụng jQuery đầy đủ --> *@

<div class="container">
    <div class="header">
        <h1>Projects</h1>
        <span>Welcome, <a href="@Url.Action("Profile", "User", new { id = ViewBag.UserId })" style="font-weight: bold;">@ViewBag.UserName</a></span>
    </div>
    <div class="header">
        @if ((bool)ViewBag.IsAdmin)
        {
            <button id="addProjectButton" data-url="@Url.Action("AddProject", "Project")">+ Add Project</button>
        }
        <input type="search" placeholder="Search" aria-label="Search" id="searchInput">
    </div>
    <div class="projects">
        @foreach (var project in Model)
        {
            <div class="project-card">
                <a href="@Url.Action("TaskView", "Task", new { id = project.Id })">
                    <h4>@project.Name</h4>
                    <div class="date">@project.startTime.ToString("dd MMM, yyyy")</div>
                    <div class="description">@project.Decription</div>
                </a>
                @if ((bool)ViewBag.IsAdmin)
                {
                    <div class="btn-group">
                        <button class="edit-project-btn" data-url="@Url.Action("EditProject", "Project", new { id = project.Id })">Edit</button>
                        <a href="@Url.Action("DeleteProject", "Project", new { id = project.Id })" class="delete-btn" onclick="return confirmDelete('@project.Id');">Delete</a>
                    </div>
                }
            </div>
        }
    </div>
</div>

<!-- Add Project Modal -->
<div class="modal" id="addProjectModal">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Add New Project</h5>
            <button id="closeAddModalButton" style="border: 0; background-color: white; font-size: 22px">&times;</button>
        </div>
        @Html.Partial("AddProject", new BTL_WNC.Models.Project())
        
    </div>
</div>

<!-- Edit Project Modal -->
<div class="modal" id="editProjectModal">
    <div class="modal-content">
        <div class="modal-header">
            <h5>Edit Project</h5>
            <button id="closeEditModalButton" style="border: 0; background-color: white; font-size: 22px">&times;</button>
        </div>
        <div class="modal-body">
            <!-- Content will be loaded here -->  
        </div>
        <div class="modal-footer">
            <button id="saveChangesButton">Save changes</button>
            <button id="closeEditModalButton">Close</button>
        </div>
    </div>
</div>

<script src="~/js/projectview.js"></script>





 